.container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #6fb7ff;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px black solid;
    padding : 10px;
    row-gap: 10px;
    border-radius: 25px;
    box-sizing: border-box;
    box-shadow: 3px 2px 8px black;
    background-color: white;
}

#input{
    text-align: center;
}