<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/New.css'%}">
</head>
<body>
    <div class="container">
            <form  id= 'form' method="post">
                {%csrf_token%}
                <h1>Fill the form</h1>
                <input type="number" placeholder="Age" id="input" name="age" required>
                <select id="input" name = 'gender' required>
                    <option value="">--Gender--</option>
                    <option value="0">male</option>
                    <option value="1">female</option>
                </select>
                <input type="number" id="input" step="0.01" placeholder="BMI" name = 'bmi' required>
                <input type="number" id="input" placeholder="No of Children" name='children' required>
                <select id="input" name="smoking" required>
                    <option value="">--Smoking status--</option>
                    <option value="1">yes</option>
                    <option value="0">no</option>
                </select>
                <select id="input" name ='region' required>
                    <option value="">--Region--</option>
                    <option value="Southwest">Southwest</option>
                    <option value="Southeast">Southeast</option>
                    <option value="Northwest">Northwest</option>
                    <option value="Northeast">Northeast</option>
                </select>
                <input type="submit" id="input">
                <textarea name="" id="result" cols="30" rows="1" readonly></textarea>
            </form>
    </div>
    <script>
        const form = document.getElementById('form')
        form.addEventListener('submit' , function(event){
            event.preventDefault()
            const formdata = new FormData(form)
            fetch('http://127.0.0.1:8000/home/' , {
                method : 'POST' ,
                body : formdata
            })
            .then(res => res.json())
            .then(data => {
                document.getElementById('result').innerHTML = 'Predicted charges :'+data['pred']
            })
            })
    </script>
</body>
</html>